<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">

    <style>
        canvas {
            display: block;
            margin: 0 auto;
        }
    </style>
    <link href="../src/client/styles.css" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="socket.io/socket.io.js"></script>
    <script src="//cdn.jsdelivr.net/npm/phaser@3.21.0/dist/phaser.min.js"></script>
    <script src="../src/client/main.js" type="module"></script>
</head>

<body>

</body>

</html>

