<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">

    <style>
        canvas {
            display: block;
            margin: 0 auto;
        }
    </style>

    <script src="socket.io/socket.io.js"></script>
    <script src="../src/phaser.js"></script>
    <script src="./src/main.js" type="module"></script>
</head>

<body>

<p>Loged in as: <%= user.username %>  <a href="./logout">Log out</a> </p>
<input id="username" type="hidden" value="<%= user.username %>"/>

</body>

</html>

